body {
  margin: 0;
  text-align: center;
  background-color: #9dacff;
}

h1 {
  font-family: "Ubuntu", sans-serif;
  color: #ffffff;
  font-weight: bolder;
  margin: 0;
  padding-top: 60px;
}

.container {
  height: 550px;
  max-width: 500px;
  background: #918ef4;
  margin: 0 auto;
}

@media (min-width: 484px) {
  .container {
    margin-top: 100px;
    border-radius: 10px;
  }
}

@media (max-width: 484px) {
  .container {
    min-height: 100vh;
  }
}

p {
  font-family: "Ubuntu", sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: #141b41;
}

.button-rps {
  display: flex;
  flex-direction: column;
}

button {
  display: block;
  width: 250px;
  height: 50px;
  font-family: "Mina", sans-serif;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #306bac;
  font-size: larger;
  font-weight: 600;
  margin: 10px auto 0 auto;
}
